# Database
DATABASE_URL="postgresql://user:password@your-gcp-postgres-instance:5432/dbname?schema=public&sslmode=require"

# App
PORT=8080
NODE_ENV=development

# Meilisearch
MEILI_HOST="http://localhost:7700"
MEILI_MASTER_KEY=""
